################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Simple Useful Tools (that I made because I was bored and needed them)/.vs/Simple Useful Tools (that I made because I was bored and needed them)/FileContentIndex
